<!--The content below is only a placeholder and can be replaced.-->

<!--<div>-->
<!--  <div>-->
<!--    <span>span <span>inside</span> span</span>-->
<!--    <br/>-->
<!--    <span>p <p>inside</p> span</span>-->
<!--    <p>span <span>inside</span> p</p>&lt;!&ndash; not Child but Descendant &ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<!--<div> div </div>-->
<!--<span> span </span>-->
<!--<span>span</span>-->
<!--<div>div</div>-->
<!--<span> span </span>-->

<!--<div>-->
<!--  <span> span_in_div_1</span>-->
<!--  <span> span_in_div2</span>-->
<!--  <span> span_in_div_3</span>-->
<!--</div>-->

<!--<br />-->
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

