
<div class="container p-3 my-3 border">
  <div class="table-responsive">
<!--    <input type="text" [(ngModel)]="searchText" placeholder="enter search text here">-->
<!--    &lt;!&ndash;  <table class="table table-striped table-bordered table-hover">&ndash;&gt;-->
<!--    <table class="table table-bordered table-hover table-sm" >-->
<!--      <thead class="thead-light">-->
<!--      <tr>-->
<!--        <th></th>-->
<!--        <th><input placeholder="Filter by Category"> </th>-->
<!--        <th><input placeholder="Filter by Amount"> </th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>Product Id</th>-->
<!--        <th>Category</th>-->
<!--        <th>Amount</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let x of rows | search: searchText; index as productId">-->
<!--        <td>{{x.productId}}</td>-->
<!--        <td [routerLink]="['/products',productId]">{{x.category}}</td>-->
<!--        <td>{{x.amount}}</td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->

<!--<br />-->

<div class="row">
  <div class="col-md-4">
    <input *ngIf="config.filtering" placeholder="Filter all columns"
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="onChangeTable(config)"/>
  </div>
</div>
<br>
<ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table>

    <br />

    <pagination *ngIf="config.paging"
                class="pagination-sm"
                [(ngModel)]="page"
                [totalItems]="length"
                [itemsPerPage]="itemsPerPage"
                [maxSize]="maxSize"
                [boundaryLinks]="true"
                [rotate]="false"
                (pageChanged)="onChangeTable(config, $event)"
                (numPages)="numPages = $event">
    </pagination>
    <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
  </div>
<!--  <app-product-detail [productList]="dataList"></app-product-detail>-->
</div>


