
<div class="container p-3 my-3 border">
  <div class="table-responsive">
    <div>
        <input type="text" [ngTableFiltering]="config.filtering" (tableChanged)="onChangeTable(config)" placeholder="Filter all columns">
    </div>
    <!--  <table class="table table-striped table-bordered table-hover">-->
    <table class="table table-bordered table-striped table-hover table-sm" >
      <thead class="thead-light">
      <tr>
        <th></th>
        <th>
          <input [ngTableFiltering]="config.filtering.category" (tableChanged)="onChangeTable(config)" placeholder="Filter by Category">
        </th>
        <th>
          <input [ngTableFiltering]="config.filtering.amount" (tableChanged)="onChangeTable(config)" placeholder="Filter by Amount">
        </th>
      </tr>
      <tr>
        <th class="pointer" (click)="sort('productId')">Product Id <i class="fa"
                          [ngClass]="{'fa-sort': column != 'productId',
                        'fa-sort-asc': (column == 'productId' && !isDesc),
                        'fa-sort-desc': (column == 'productId' && isDesc) }"
                          aria-hidden="true"> </i></th>
        <th class="pointer" (click)="sort('category')">Category <i class="fa"
                        [ngClass]="{'fa-sort': column != 'category',
                        'fa-sort-asc': (column == 'category' && !isDesc),
                        'fa-sort-desc': (column == 'category' && isDesc) }"
                        aria-hidden="true"> </i> </th>
        <th class="pointer" (click)="sort('amount')">Amount <i class="fa"
                      [ngClass]="{'fa-sort': column != 'amount',
                        'fa-sort-asc': (column == 'amount' && !isDesc),
                        'fa-sort-desc': (column == 'amount' && isDesc) }"
                      aria-hidden="true"> </i> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let x of rows | orderBy: {property: column, direction: direction}; index as productId">
        <td>{{x.productId}}</td>
        <td [routerLink]="['/products',productId]">{{x.category}}</td>
        <td>{{x.amount}}</td>
        <td>Edit</td>
      </tr>
      </tbody>
    </table>

<br />

<!--<br>-->
<!--<ng-table [config]="config"-->
<!--          (tableChanged)="onChangeTable(config)"-->
<!--          (cellClicked)="onCellClick($event)"-->
<!--          [rows]="rows" [columns]="columns">-->
<!--</ng-table>-->

<!--    <br />-->

    <pagination *ngIf="config.paging"
                class="pagination-sm"
                [(ngModel)]="page"
                [totalItems]="length"
                [itemsPerPage]="itemsPerPage"
                [maxSize]="maxSize"
                [boundaryLinks]="true"
                [rotate]="false"
                (pageChanged)="onChangeTable(config, $event)"
                (numPages)="numPages = $event">
    </pagination>
    <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
  </div>
<!--  <app-product-detail [productList]="dataList"></app-product-detail>-->
</div>


